name: CCBP Validate

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  validate:
    uses: kevinlrankin-ux/ccbp-tai/.github/workflows/tai-asp-ccbp-validate.yml@main
